.wrapper {
   height: 100vh;
   width: 100vw;
   margin: 0 auto;
}

.inner_wrapper {
   width: 1020px;
   margin: 0 auto;
}

/* header */
header {
   background-image: url('../assets/images/header-bg.png');
   background-size: cover;
}

.header_banner>.header_title,
#navbar {
   display: flex;
   align-items: flex-end;
}

.header_banner {
   display: flex;
   justify-content: space-between;
   height: 112px;
}

/* header >title */
#logo object[data$="bottom.svg"] {
   padding-left: 2px;
   padding-top: 2px;
   position: absolute;
}

#logo object[data$="top.svg"] {
   margin-bottom: -3px;
}

h1 {
   font-family: "Lucida Sans Italic";
   font-size: 41px;
   letter-spacing: 0.41px;
   text-shadow: 0px 2px 0 rgba(0, 0, 0, 0.42);
   text-align: center;
   color: #ffffff;
   margin-bottom: 17px;
   margin-left: 4px;
}

/* header >navbar */
.rectangle {
   width: 453px;
   height: 41px;
   background-image: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
   background-image: -webkit-linear-gradient(bottom, #f5c505 0%, #f5c505 100%);
   background-image: -o-linear-gradient(bottom, #f5c505 0%, #f5c505 100%);
   background-image: linear-gradient(to top, #f5c505 0%, #f5c505 100%);
}

.rectangle1 ul {
   display: flex;
   flex-grow: 1;
}

.rectangle1 ul li {
   display: flex;
   flex-grow: 1;
   border-right: 1px solid #9b7d08;
   justify-content: center;
}

.rectangle1 ul li a {
   display: flex;
   align-items: center;
   font-family: "Segoe WP";
   height: 41px;
   font-size: 17px;
   letter-spacing: 0.17px;
   color: #9b7d08;
   text-decoration: none;
}

.rectangle1 ul li a::after {
   border-right: none;
}

.rectangle1 object {
   margin-right: 9px;
}

.rectangle2 {
   position: absolute;
   opacity: 0.27;
   z-index: 2;
   margin-top: -5px;
   margin-left: -4px;
}

.rectangle3 {
   position: absolute;
   opacity: 0.27;
   z-index: 1;
   margin-top: -8px;
   margin-left: -8px;
}

/* main */
/* main >video-banner */
.nav-buttons {
   position: absolute;
   display: flex;
   width: 100vw;
   margin-top: 187px;
   justify-content: space-between;
   align-items: center;
}

.nav-buttons img {
   align-content: center;
}

.main-video-banner{
   height: 454px;
   background-image: url('../assets/images/header-bg.png');
   background-size: cover;
   background-position: 0 -112px;
}

.banner {
   display: flex;
   align-content: stretch;
}

.banner .video {
   position: relative;
   flex-grow: 1;
}

.banner video {
   width: 549px;
   margin-left: 10px;
   margin-top: 56px;
}

.banner label {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}

.banner label h2 {
   font-family: "Asap Regular";
   font-size: 63px;
   letter-spacing: 0.63px;
   font-weight: 400;
   text-align: center;
}

.banner label h2:first-child {
   color: #f5c506;
   margin-top: 138px;
   margin-left: -13px;
}

.banner label h2:last-child {
   color: #fff;
   margin-top: 12px;
   margin-left: 2px;
}

.video-controls .play-btn-big {
   position: absolute;
   top: 186px;
   left: 254px;
}

.video-controls .video-footer {
   position: absolute;
   bottom: 23px;
   left: 10px;
   display: flex;
   align-items: center;
   justify-content: left;
   width: 549px;
}

.video-footer .play-btn-small {
   margin-left: 29px;
}

.video-footer .btn-sound {
   margin-left: 31px;
}

.video-footer .progress {
   position: relative;
   width: 404px;
   height: 12px;
   margin-left: 24px;
   background-color: rgba(245, 197, 6, 0.3);
   border-radius: 5px;
}

.video-footer .progress span {
   float: left;
   width: 45%;
   height: 12px;
   background-color: rgba(245, 197, 6, 1);
   border-radius: 5px 0 0 5px;
}